.about-slide__company {
  font-weight: normal;
  color: #777;
}

.slide .about-slide__list {
  margin-bottom: 0;
}

.about-slide__photo {
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 2.5em;
}
