<div class="history">
  <div class="history__column history__column--svg">
    <h3 class="
      history__title
      history__title--svg
      next
    ">SVG-фильтры</h3>

    <dl class="history__list history__list--svg">
      <div class="
        history__line
        next
      ">
        <dt class="history__year">1999</dt>
        <dd class="history__event">
          Первые <a href="https://www.w3.org/TR/1999/WD-SVG-19990211/filters.html">описания</a> в спеке
        </dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2008</dt>
        <dd class="history__event history__event--double">Firefox</dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2009</dt>
        <dd class="history__event">Opera</dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2010</dt>
        <dd class="history__event">Chrome</dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2012</dt>
        <dd class="history__event">Safari, IE10</dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2013</dt>
        <dd class="history__event">Мобильные браузеры</dd>
      </div>

      <!-- <div class="
        history__line

      ">
        <dt class="history__year">2015</dt>
        <dd class="history__event"></dd>
      </div> -->
    </dl>
  </div>

  <div class="history__column history__column--css">
    <h3 class="
      history__title
      history__title--css
      next
    ">CSS-фильтры</h3>
    <dl class="history__list history__list--css">

      <div class="
        history__line
      ">
        <dt class="history__year">1999</dt>
        <dd class="history__event"></dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2008</dt>
        <dd class="history__event history__event--double">Robert O'Callahan из Mozilla <a href="https://robert.ocallahan.org/2008/06/applying-svg-effects-to-html-content_04.html">предложил</a> применить SVG-фильтры к&nbsp;HTML</dd>
      </div>

      <div class="
        history__line
      ">
        <dt class="history__year">2009</dt>
        <dd class="history__event"></dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2010</dt>
        <dd class="history__event">Firefox</dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year">2012</dt>
        <dd class="history__event">Safari, Chrome</dd>
      </div>

      <div class="
        history__line
      ">
        <dt class="history__year">2013</dt>
        <dd class="history__event"></dd>
      </div>

      <div class="
        history__line
        next
      ">
        <dt class="history__year history__year--visible">2015</dt>
        <dd class="history__event">Edge</dd>
      </div>
    </dl>
  </div>
</div>
